In [1]:
import pandas as pd

In [16]:
nfl_df = pd.read_csv("nfl_data.csv")

In [17]:
nfl_df.head()

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,redzone_away,redzone_home,drives_away,drives_home,def_st_td_away,def_st_td_home,possession_away,possession_home,score_away,score_home
0,9/5/2002,49ers,Giants,13,21,12-Apr,16-Sep,0-0,0-1,166,...,0-8,0-6,13,15,0,0,27:32:00,32:28:00,16,13
1,9/8/2002,Jets,Bills,18,26,8-Feb,17-Jul,0-0,2-Feb,193,...,0-9,0-8,17,18,2,0,21:06,39:08:00,37,31
2,9/8/2002,Vikings,Bears,19,20,13-May,13-Jul,0-0,0-0,228,...,0-7,0-6,17,17,0,0,31:31:00,28:29:00,23,27
3,9/8/2002,Chargers,Bengals,27,13,10-Jun,11-Apr,0-0,0-0,160,...,0-7,0-5,11,15,0,0,37:48:00,22:12,34,6
4,9/8/2002,Chiefs,Browns,24,24,11-May,11-Apr,0-0,0-0,276,...,0-10,0-10,20,17,0,0,30:16:00,29:44:00,40,39

In [18]:
my_list = nfl_df.columns.values.tolist()
print(my_list)

['date', 'away', 'home', 'first_downs_away', 'first_downs_home', 'third_downs_away', 'third_downs_home', 'fourth_downs_away', 'fourth_downs_home', 'passing_yards_away', 'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home', 'total_yards_away', 'total_yards_home', 'comp_att_away', 'comp_att_home', 'sacks_away', 'sacks_home', 'rushing_attempts_away', 'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away', 'int_home', 'turnovers_away', 'turnovers_home', 'penalties_away', 'penalties_home', 'redzone_away', 'redzone_home', 'drives_away', 'drives_home', 'def_st_td_away', 'def_st_td_home', 'possession_away', 'possession_home', 'score_away', 'score_home']

In [19]:
unnecessary = ['first_downs_away', 'first_downs_home', 'third_downs_away', 'third_downs_home', 'fourth_downs_away',
               'fourth_downs_home', 'passing_yards_away', 'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home',
               'total_yards_away', 'total_yards_home', 'comp_att_away', 'comp_att_home', 'sacks_away', 'sacks_home',
               'rushing_attempts_away', 'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away', 'int_home',
               'turnovers_away', 'turnovers_home', 'penalties_away', 'penalties_home', 'redzone_away', 'redzone_home',
               'drives_away', 'drives_home', 'def_st_td_away', 'def_st_td_home', 'possession_away', 'possession_home'] 
nfl_df = nfl_df.drop(columns=unnecessary)

In [21]:
nfl_df

           date      away     home  score_away  score_home
0      9/5/2002     49ers   Giants          16          13
1      9/8/2002      Jets    Bills          37          31
2      9/8/2002   Vikings    Bears          23          27
3      9/8/2002  Chargers  Bengals          34           6
4      9/8/2002    Chiefs   Browns          40          39
...         ...       ...      ...         ...         ...
4798  1/12/2020    Texans   Chiefs          31          51
4799  1/12/2020  Seahawks  Packers          23          28
4800  1/19/2020    Titans   Chiefs          24          35
4801  1/19/2020   Packers    49ers          20          37
4802   2/2/2020     49ers   Chiefs          20          31

[4803 rows x 5 columns]

In [22]:
for i in :
    nfl_df['hometeam win'] = 1 if score_home(row) > score_away(row)
        else:
            =0

SyntaxError: invalid syntax (<ipython-input-22-8e0f06906b6a>, line 2)

In [23]:
def who_won(row):
    if row['score_away'] > row['score_home']:
        return 0
    else:
        return 1

In [24]:
nfl_df['hometeam win'] = nfl_df.apply(lambda row: who_won(row), axis=1)

In [25]:
nfl_df

           date      away     home  score_away  score_home  hometeam win
0      9/5/2002     49ers   Giants          16          13             0
1      9/8/2002      Jets    Bills          37          31             0
2      9/8/2002   Vikings    Bears          23          27             1
3      9/8/2002  Chargers  Bengals          34           6             0
4      9/8/2002    Chiefs   Browns          40          39             0
...         ...       ...      ...         ...         ...           ...
4798  1/12/2020    Texans   Chiefs          31          51             1
4799  1/12/2020  Seahawks  Packers          23          28             1
4800  1/19/2020    Titans   Chiefs          24          35             1
4801  1/19/2020   Packers    49ers          20          37             1
4802   2/2/2020     49ers   Chiefs          20          31             1

[4803 rows x 6 columns]