In [1]:
import pandas as pd

In [16]:
nfl_df = pd.read_csv("nfl_data.csv")

In [17]:
nfl_df.head()

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,redzone_away,redzone_home,drives_away,drives_home,def_st_td_away,def_st_td_home,possession_away,possession_home,score_away,score_home
0,9/5/2002,49ers,Giants,13,21,12-Apr,16-Sep,0-0,0-1,166,...,0-8,0-6,13,15,0,0,27:32:00,32:28:00,16,13
1,9/8/2002,Jets,Bills,18,26,8-Feb,17-Jul,0-0,2-Feb,193,...,0-9,0-8,17,18,2,0,21:06,39:08:00,37,31
2,9/8/2002,Vikings,Bears,19,20,13-May,13-Jul,0-0,0-0,228,...,0-7,0-6,17,17,0,0,31:31:00,28:29:00,23,27
3,9/8/2002,Chargers,Bengals,27,13,10-Jun,11-Apr,0-0,0-0,160,...,0-7,0-5,11,15,0,0,37:48:00,22:12,34,6
4,9/8/2002,Chiefs,Browns,24,24,11-May,11-Apr,0-0,0-0,276,...,0-10,0-10,20,17,0,0,30:16:00,29:44:00,40,39

In [18]:
my_list = nfl_df.columns.values.tolist()
print(my_list)

['date', 'away', 'home', 'first_downs_away', 'first_downs_home', 'third_downs_away', 'third_downs_home', 'fourth_downs_away', 'fourth_downs_home', 'passing_yards_away', 'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home', 'total_yards_away', 'total_yards_home', 'comp_att_away', 'comp_att_home', 'sacks_away', 'sacks_home', 'rushing_attempts_away', 'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away', 'int_home', 'turnovers_away', 'turnovers_home', 'penalties_away', 'penalties_home', 'redzone_away', 'redzone_home', 'drives_away', 'drives_home', 'def_st_td_away', 'def_st_td_home', 'possession_away', 'possession_home', 'score_away', 'score_home']

In [19]:
unnecessary = ['first_downs_away', 'first_downs_home', 'third_downs_away', 'third_downs_home', 'fourth_downs_away',
               'fourth_downs_home', 'passing_yards_away', 'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home',
               'total_yards_away', 'total_yards_home', 'comp_att_away', 'comp_att_home', 'sacks_away', 'sacks_home',
               'rushing_attempts_away', 'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away', 'int_home',
               'turnovers_away', 'turnovers_home', 'penalties_away', 'penalties_home', 'redzone_away', 'redzone_home',
               'drives_away', 'drives_home', 'def_st_td_away', 'def_st_td_home', 'possession_away', 'possession_home'] 
nfl_df = nfl_df.drop(columns=unnecessary)

In [21]:
nfl_df

           date      away     home  score_away  score_home
0      9/5/2002     49ers   Giants          16          13
1      9/8/2002      Jets    Bills          37          31
2      9/8/2002   Vikings    Bears          23          27
3      9/8/2002  Chargers  Bengals          34           6
4      9/8/2002    Chiefs   Browns          40          39
...         ...       ...      ...         ...         ...
4798  1/12/2020    Texans   Chiefs          31          51
4799  1/12/2020  Seahawks  Packers          23          28
4800  1/19/2020    Titans   Chiefs          24          35
4801  1/19/2020   Packers    49ers          20          37
4802   2/2/2020     49ers   Chiefs          20          31

[4803 rows x 5 columns]

In [23]:
def who_won(row):
    if row['score_away'] > row['score_home']:
        return 0
    else:
        return 1

In [24]:
nfl_df['hometeam win'] = nfl_df.apply(lambda row: who_won(row), axis=1)

In [90]:
nfl_df = nfl_df.sort_values(['home'], ascending=True)
nfl_df

            date        away     home  score_away  score_home  hometeam win
659    11/7/2004    Seahawks    49ers          42          27             0
2039  11/29/2009     Jaguars    49ers           3          20             1
3427  12/20/2014    Chargers    49ers          38          35             0
4145  11/12/2017      Giants    49ers          21          31             1
1569  12/23/2007  Buccaneers    49ers          19          21             1
...          ...         ...      ...         ...         ...           ...
2802  11/11/2012       Lions  Vikings          24          34             1
2041  11/29/2009       Bears  Vikings          10          36             1
4443  11/25/2018     Packers  Vikings          17          24             1
2467   10/9/2011   Cardinals  Vikings          10          34             1
1443  10/28/2007      Eagles  Vikings          23          16             0

[4803 rows x 6 columns]

In [91]:
teams = nfl_df['home'].values
teams = list(set(teams))
print(teams)

['Texans', 'Saints', 'Seahawks', 'Steelers', 'Rams', 'Chargers', 'Redskins', 'Eagles', 'Patriots', 'Vikings', 'Buccaneers', 'Panthers', 'Falcons', 'Colts', '49ers', 'Cowboys', 'Giants', 'Jets', 'Bengals', 'Raiders', 'Jaguars', 'Cardinals', 'Lions', 'Dolphins', 'Broncos', 'Bears', 'Browns', 'Ravens', 'Packers', 'Chiefs', 'Titans', 'Bills']

In [95]:
teams.sort()
print(teams)

['49ers', 'Bears', 'Bengals', 'Bills', 'Broncos', 'Browns', 'Buccaneers', 'Cardinals', 'Chargers', 'Chiefs', 'Colts', 'Cowboys', 'Dolphins', 'Eagles', 'Falcons', 'Giants', 'Jaguars', 'Jets', 'Lions', 'Packers', 'Panthers', 'Patriots', 'Raiders', 'Rams', 'Ravens', 'Redskins', 'Saints', 'Seahawks', 'Steelers', 'Texans', 'Titans', 'Vikings']

In [92]:
nfl_data_transformed = pd.DataFrame(columns=['Teams', 'Homefield Wins'])
nfl_data_transformed['Teams'] = teams
nfl_data_transformed = nfl_data_transformed.sort_values(['Teams'], ascending=True)
nfl_data_transformed.set_index(['Teams'], inplace=True)
nfl_data_transformed

           Homefield Wins
Teams
49ers                 NaN
Bears                 NaN
Bengals               NaN
Bills                 NaN
Broncos               NaN
Browns                NaN
Buccaneers            NaN
Cardinals             NaN
Chargers              NaN
Chiefs                NaN
Colts                 NaN
Cowboys               NaN
Dolphins              NaN
Eagles                NaN
Falcons               NaN
Giants                NaN
Jaguars               NaN
Jets                  NaN
Lions                 NaN
Packers               NaN
Panthers              NaN
Patriots              NaN
Raiders               NaN
Rams                  NaN
Ravens                NaN
Redskins              NaN
Saints                NaN
Seahawks              NaN
Steelers              NaN
Texans                NaN
Titans                NaN
Vikings               NaN

SyntaxError: invalid syntax (<ipython-input-93-f60cefb46219>, line 7)

In [96]:
team_wins = []
for team in teams:
    subset_df = pd.DataFrame()
    subset_df = nfl_df.loc[nfl_df['home'] == team]
    subset_df = subset_df.loc[subset_df['hometeam win'] == 1]
    x = subset_df['hometeam win'].count()
    team_wins.append(x)
    print(f"{team} has {x} wins" )

49ers has 84 wins
Bears has 82 wins
Bengals has 81 wins
Bills has 75 wins
Broncos has 100 wins
Browns has 55 wins
Buccaneers has 67 wins
Cardinals has 85 wins
Chargers has 88 wins
Chiefs has 91 wins
Colts has 108 wins
Cowboys has 87 wins
Dolphins has 73 wins
Eagles has 95 wins
Falcons has 87 wins
Giants has 72 wins
Jaguars has 70 wins
Jets has 77 wins
Lions has 64 wins
Packers has 110 wins
Panthers has 85 wins
Patriots has 141 wins
Raiders has 63 wins
Rams has 70 wins
Ravens has 108 wins
Redskins has 64 wins
Saints has 93 wins
Seahawks has 109 wins
Steelers has 110 wins
Texans has 81 wins
Titans has 78 wins
Vikings has 96 wins

In [97]:
print(team_wins)

[84, 82, 81, 75, 100, 55, 67, 85, 88, 91, 108, 87, 73, 95, 87, 72, 70, 77, 64, 110, 85, 141, 63, 70, 108, 64, 93, 109, 110, 81, 78, 96]

In [98]:
# test for accuracy
subset_df = pd.DataFrame()
subset_df = nfl_df.loc[nfl_df['home'] == 'Vikings']
subset_df = subset_df.loc[subset_df['hometeam win'] == 1]
subset_df['hometeam win'].count()

96

In [99]:
nfl_data_transformed['Homefield Wins'] = team_wins
nfl_data_transformed

            Homefield Wins
Teams
49ers                   84
Bears                   82
Bengals                 81
Bills                   75
Broncos                100
Browns                  55
Buccaneers              67
Cardinals               85
Chargers                88
Chiefs                  91
Colts                  108
Cowboys                 87
Dolphins                73
Eagles                  95
Falcons                 87
Giants                  72
Jaguars                 70
Jets                    77
Lions                   64
Packers                110
Panthers                85
Patriots               141
Raiders                 63
Rams                    70
Ravens                 108
Redskins                64
Saints                  93
Seahawks               109
Steelers               110
Texans                  81
Titans                  78
Vikings                 96

In [101]:
nfl_data_transformed.to_csv("C:/Users/pwitw/Homework repositories/Project-2/transformed_nfl_data.csv")